# Database Configuration
user=seu_usuario
password=sua_senha
host=localhost
port=5432
dbname=seu_banco_de_dados

# ClickUp Configuration
clickup_header_authorization=sua_chave_de_api
clickup_list_id=sua_lista_id
clickup_user_id=seu_usuario_id
